<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <h1>This is the home page</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia explicabo cum veritatis ducimus cupiditate at, maxime eligendi alias dolores, aut totam voluptatem dignissimos. Aspernatur voluptatibus in doloribus alias possimus enim.</p>
  <button>Click me</button>
</body>
</html>