<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>interpolation</title>
</head>
<body>
  <h1>Hi!</h1>
  <h2><%= 1+2 %></h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum reprehenderit animi ratione blanditiis illo, aliquam eveniet? Consequatur tempore sint alias facilis dolores perspiciatis, dicta sit, rerum illum beatae aut explicabo!</p>
  <button>Click me!</button>
</body>
</html>